.basic{
    background: white;
    padding: 20px;
}

.detail{
    background: white;
    margin-top: 10px;
    padding: 20px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.line{
    overflow: hidden;
    padding: 5px 0;
}

.left{
    float: left;
    width: 300px;
}

.right{
    float: left;
}

.normalText{
    font-size: 13px;
}

.bread{
    margin-bottom: 15px;
}

.tradeTbData{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary{
    display: flex;
    justify-content: space-around;
}

.summaryItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.impText{
    font-size: 18px;
    font-weight: bold;
}

.line2{
    height: 1px;
    background: #ccc;
}

.indexContainer{
    display: flex;
}

.spinWrapper{
    text-align: center;
    margin-top: 100px;
}

.leftWrapper{
    float: left;
    width: 300px;
}

.rightWrapper{
    margin-left: 300px;
}

.item{
    padding: 4px 0;
}

.itemLabel{
    display: inline-block;
    width: 76px;
    text-align: right;
    margin-right: 4px;
}

.itemValue{
    display: inline-block;
    color: #909090;
}

.itemLabel2{
    width: 150px;
    text-align: right;
    margin-right: 4px;
    float: left;
}

.itemValue2{
    color: #909090;
    word-break:break-all;
    margin-left: 150px;
}
