<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EOSPark</title>
  <script src="https://gw.alipayobjects.com/os/antv/assets/g2/3.0.9/g2.min.js"></script>
  <style type="text/css">
    /** json格式化展示 **/
    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }

    /**ant-design 样式覆盖**/
    .ant-layout-content .ant-select-selection__rendered{
      margin-right: 27px;
    }
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>
